---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [present]
    width: 4
    image: true
  - roles: [past]
    width: 8
    image: false
---

<div class="jumbotron">
    <p>
        <b>Humans Learning Machine Learning</b> are a group of physics trainees
         at the University of Toronto using the powers of machine learning,
         statistics, and high performance computing to tackle interesting and
         fun problems.
    </p>
</div>

<section>
    <h2>Meeting</h2>
    <ul class="news list-unstyled">
        {% for meeting in site.meetings limit: site.front_page_news %}
            {% include news-item.html item=meeting %}
        {% endfor %}
    </ul>
    {% assign nummeetings = site.meetings | size %}
    {% if nummeetings >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/agenda.html">Past Meetings&hellip;</a>
        </p>
    {% endif %}
</section>

<section>
    <h2>Projects</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}" data-columns="4">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
